* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #00BFAE, #00695C);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 20px;
}

.container {
    background: linear-gradient(225deg, #A7FFEB, #00897B);
    background-size: 200% 200%;
    animation: gradientShift 15s ease infinite;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    padding-top: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 16px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group input:focus {
    outline: none;
    border-color: #4c6dff;
}

.submit-btn {
    background-color: #4c6dff;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #4c6dff;
}

.info {
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-top: 20px;
}

.obat-list {
    list-style-type: none;
    padding: 0;
}

.obat-item {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.obat-item strong {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.waktu-list {
    list-style-type: none;
}

.delete-btn {
    background-color: #4c6dff;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.delete-btn:hover {
    background-color: #4c6dff;
}

.delete-all-btn {
    background-color: #4c6dff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-all-btn:hover {
    background-color: #4c6dff;
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 20px;
    }

    .input-group input {
        font-size: 14px;
    }

    .submit-btn {
        font-size: 14px;
    }
}
